.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 45px;
  color: white;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}
